body{
	background-color: #464D5F;
}

h1{
	color: #FDECAC;
	text-align: center; 
	font-family: 'La Belle Aurore', cursive;
	font-size: 100px;
	margin: 10px auto;
}
h2 { 
	color:  #2E323D;
	background-color: #FDECAC;
	box-shadow: 0 10px 30px rgba(0,0,0,.1); 
	text-align: center; 
	font-size: 30px;
	letter-spacing: 1px;
	font-family: 'Big Shoulders Text', cursive;
}
td{
	color: white;
	text-align: center;
	margin: 10px 10px;
	padding: 10px 35px;
}
i{
	font-size: 40px;
	margin:8px;
	}
li{
	margin: 4px;
	text-align: justify;
}

p{
font-family: 'Karla', cursive;
color: white;	
}
hr{
	width: 500px;
	border: 2px #FDECAC solid;
}

@media (max-width: 700px) {
 hr {
    width: 300px;
  }
   }  
 @media (max-width: 500px) {
 hr {
    width: 150px;
  }
   } 






/* Custom design with class */

.container {
	width: 60%;
	margin: 40px auto;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
}


@media (max-width: 700px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 350px;
    text-align: center;
  }
   }  

@media (max-width: 700px) {
  .video {
    width: 300px;
     height: auto;
  } 
    } 

@media (max-width: 500px) {
  .video {
    width: 200px;
    height: auto;
  }
    }

.card-blueshadow {
	color: #ffffff;
	background-color: #4E5669;
	font-family: 'Karla', cursive;
	box-shadow: 0 10px 30px #4E5669;
}
.card-top {
	color: #ffffff;
	background-color: #2E323D;
	width:400px;
	font-family: 'Karla', cursive;
	margin: 10px 10px;
	font-family: 'Karla', cursive;
	text-align: center;
	padding: 10px 10px;
}

@media (max-width: 700px) {
  .card-top {
   margin: auto;
  }
}

@media (max-width: 500px) {
  .card-top {
   margin: auto;

  }
}
#subtitle{
	color: #ffffff;
	text-align: center; 
	font-family: 'La Belle Aurore', cursive;
	font-size: 30px;
}
.img-circle {
  border-radius: 50%;
}
.list-inline {
  list-style: none; 
  padding-left: 0px; 
  color: white;
}
.list-inline > li {
  display: inline; 
  padding: 0px 20px;
  color: white;
  }

.list-inline i{
	font-size: 40px;
	color: rgb(210,210,210);
}

.list-inline i:hover {
	color: #6772e5;
}

.box {
	background-color: #4E5669;
	font-family: 'Karla', cursive;
	text-align: center;
	padding: 10px 10px;
	margin: 10px 10px;
} 

.box-table {
	background-color: #4E5669;
	font-family: 'Karla', cursive;
	text-align: center;
	padding: 10px 10px;
	margin: 10px 10px;
} 

.link-shadow:hover{
	box-shadow: 0 5px 10px #ac8daf;
	margin-top: 5px;
}
.link {
	color: #ac8daf;
}

#img-below{
	margin: 20px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.card{
padding: 20px;
display: flex;
align-items: center;
align-content: center;
text-align: center;
justify-content: space-between;
box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
border-radius: 6px;
margin: 10px;
vertical-align: center;
flex-basis: auto;
flex-grow: 1;
color: white;
background-color: #4E5669;
font-family: 'Karla', cursive;
}

.card-bottom{
padding: 20px;
display: flex;
align-items: center;
align-content: center;
text-align: center;
justify-content: space-between;
box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
border-radius: 6px;
margin: 10px;
vertical-align: center;
flex-basis: auto;
flex-grow: 1;
color: white;
background-color: #4E5669;
font-family: 'Karla', cursive;
}

@media (max-width: 700px) {
  .card {
    margin: 20px auto;
    padding: 50px auto;
    justify-content: space-between;

  }

  .card {
    flex-direction: column;
    align-items: stretch;
  }
}


.card img{
	width: 200px;
	height: 150px;
	border-radius: 6px;
}
.card h3{
	flex-grow: 1;
	padding-left: 20px;
	font-size: 14px;

}	

.card img {
  max-height: 100%;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


        
